<div *ngIf="loading$ | async"
     style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="commodityLotDto">
  <table class="mat-table">
    <thead>
    <tr class="mat-header-row">
      <th class="mat-header-cell">Type</th>
      <th class="mat-header-cell">Counterparty</th>
      <th class="mat-header-cell">Status</th>
      <th class="mat-header-cell">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mat-cell">
        <span matTooltip="In" [matTooltipPosition]="'before'"
              *ngIf="commodityLotDto.commodityLotType === commodityLotTypeEnum.IN">
          <mat-icon>local_shipping</mat-icon>
          <mat-icon>forward</mat-icon>
          <mat-icon>store</mat-icon>
        </span>
        <span matTooltip="Out" [matTooltipPosition]="'before'"
              *ngIf="commodityLotDto.commodityLotType === commodityLotTypeEnum.OUT">
          <mat-icon>store</mat-icon>
          <mat-icon>forward</mat-icon>
          <mat-icon>local_shipping</mat-icon>
        </span>
      </td>
      <td class="mat-cell"><a (click)="navigateToCounterparty(commodityLotDto.counterpartyId)">Counterparty</a></td>
      <td class="mat-cell">{{commodityLotStatusEnum[commodityLotDto.commodityLotStatus]}}</td>
      <td class="mat-cell">{{commodityLotDto.creation}}</td>
    </tr>
    </tbody>
  </table>
  <span>Goods:</span>
  <table mat-table [dataSource]="commodityLotDto.commodityLotGoodsList ? commodityLotDto.commodityLotGoodsList : null">

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.amount}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.goods.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="placementType">
      <th mat-header-cell *matHeaderCellDef>Placement Type</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{placementTypeEnum[commodityLotGoods.goods.placementType]}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="measurementUnit">
      <th mat-header-cell *matHeaderCellDef>Measurement Unit</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.goods.measurementUnit}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.goods.cost}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalCost}}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.goods.weight}}</td>
      <td mat-footer-cell *matFooterCellDef> {{totalWeight}}</td>
    </ng-container>

    <ng-container matColumnDef="labelling">
      <th mat-header-cell *matHeaderCellDef>Labelling</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.goods.labelling}}</td>
      <td mat-footer-cell *matFooterCellDef>: Total</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let commodityLotGoods">{{commodityLotGoods.goods.description}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
