<h1 class="header" *ngIf="!addButton">
  Goods
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="newGoods()">
      <span>New goods</span>
    </button>
  </mat-menu>
</h1>
<div>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input [formControl]="goodsFilterForm.controls['name']" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select [formControl]="goodsFilterForm.controls['placementType']"
                  placeholder="Placement type" name="placementType">
        <mat-option>NONE</mat-option>
        <mat-option [value]="'HEATED'">Heated</mat-option>
        <mat-option [value]="'UNHEATED'">Unheated</mat-option>
        <mat-option [value]="'FREEZER'">Freezer</mat-option>
        <mat-option [value]="'OPEN_SPACE'">Open space</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cost from</mat-label>
      <input matInput
             type="number"
             [formControl]="goodsFilterForm.controls['costFrom']"
             [min]="0"
             placeholder="Cost from">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Cost to</mat-label>
      <input matInput
             type="number"
             [formControl]="goodsFilterForm.controls['costTo']"
             [min]="0"
             placeholder="Cost to">
    </mat-form-field>
  </form>

  <div style="display: flex; justify-content: center; align-items: center">
    <table mat-table [dataSource]="page ? page.content : null" [ngClass]="{'hoverable-table': hoverable}">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let goods">{{goods.name}}</td>
      </ng-container>

      <ng-container matColumnDef="placementType">
        <th mat-header-cell *matHeaderCellDef>Placement Type</th>
        <td mat-cell *matCellDef="let goods">
          <mat-chip-list>
            <mat-chip>
              {{placementTypeEnum[goods.placementType]}}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="measurementUnit">
        <th mat-header-cell *matHeaderCellDef>Measurement Unit</th>
        <td mat-cell *matCellDef="let goods">{{goods.measurementUnit}}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let goods">{{goods.cost}}
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let goods">{{goods.weight}}
        </td>
      </ng-container>

      <ng-container matColumnDef="labelling">
        <th mat-header-cell *matHeaderCellDef>Labelling</th>
        <td mat-cell *matCellDef="let goods">{{goods.labelling}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let goods">{{goods.description}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked(row)"></tr>
    </table>
  </div>

  <div *ngIf="page && page.content.length === 0"
       style="display: flex; justify-content: center; align-items: center">
    <p>Not found</p>
  </div>

  <div *ngIf="loading$ | async"
       style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <br>
  <div *ngIf="addButton && addButton === true"
       style="display: flex; justify-content: center; align-items: center">
    <button mat-stroked-button color="primary" (click)="addGoodsModal()">Add goods</button>
  </div>

  <mat-paginator [length]="page ? page.totalElements : 0"
                 [pageIndex]="pageable.page"
                 [pageSize]="pageable.size"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
