<div class="content">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-toolbar>My App</mat-toolbar>
      <app-menu></app-menu>
      <app-logout></app-logout>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar>
        <button style="margin-left: -20px" (click)="sidenav.toggle(); menu = !menu" mat-button>{{menu ? "<<" : ">>"}}
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


