.header-right {
  display: flex;
  align-items: center;

  width: 100%;
  height: 40px;

  grid-column: 2;
  grid-row: 1;

  background: #66a2cc;
}

.header-right .action-name {
  color: white;
  font-weight: bold;

  margin: 4px 8px;
}
