<form [formGroup]="createCompanyForm"
      (ngSubmit)="onSubmit(createCompanyForm)">

  <label>Company name:
    <input type="text" [formControl]="createCompanyForm.controls['name']" class="input input-border">
  </label>
  <br>
  <label>Company size:
    <select name="sizeType"
            [formControl]="createCompanyForm.controls['sizeType']" class="select input-border">
      <option *ngFor="let type of getSizeTypes()" [value]="type">{{type}}</option>
    </select>
  </label>
  <br>
  <br>
  <button type="submit" class="button button-cyan">Purchase</button>
</form>
