td.mat-cell.border-right {
  border-right: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.consignment-note-header {
  margin-left: 30px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18pt;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
