<div *ngIf="loading$ | async"
     style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="writeOffAct">
  <table class="mat-table">
    <thead>
    <tr class="mat-header-row">
      <th class="mat-header-cell">Creator Id</th>
      <th class="mat-header-cell">Creation</th>
      <th class="mat-header-cell">Responsible Person</th>
      <th class="mat-header-cell">Total amount</th>
      <th class="mat-header-cell">Write off act type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="mat-cell">{{writeOffAct.creatorId}}</td>
      <td class="mat-cell">{{writeOffAct.creation}}</td>
      <td class="mat-cell">{{writeOffAct.responsiblePerson}}</td>
      <td class="mat-cell">{{writeOffAct.totalAmount}}</td>
      <td class="mat-cell">{{writeOffAct.writeOffActType}}</td>
    </tr>
    </tbody>
  </table>
  <span>Goods:</span>
  <table mat-table [dataSource]="writeOffAct.writeOffActGoodsList ? writeOffAct.writeOffActGoodsList : null">

    <ng-container matColumnDef="writeOffType">
      <th mat-header-cell *matHeaderCellDef>Write off type</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.writeOffType}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.name}}</td>
    </ng-container>

    <ng-container matColumnDef="placementType">
      <th mat-header-cell *matHeaderCellDef>Placement Type</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.placementType}}</td>
    </ng-container>

    <ng-container matColumnDef="measurementUnit">
      <th mat-header-cell *matHeaderCellDef>Measurement Unit</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.measurementUnit}}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.cost}}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.weight}}</td>
    </ng-container>

    <ng-container matColumnDef="labelling">
      <th mat-header-cell *matHeaderCellDef>Labelling</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.labelling}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let writeOffActGoods">{{writeOffActGoods.goods.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
