<div>
  <form>
    <mat-form-field *ngIf="disabled" appearance="outline">
      <mat-select [formControl]="consignmentNoteFilterForm.controls['consignmentNoteType']"
                  placeholder="Type" name="consignmentNoteType">
        <mat-option>NONE</mat-option>
        <mat-option [value]="'IN'">IN</mat-option>
        <mat-option [value]="'OUT'">OUT</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="disabled" appearance="outline">
      <mat-select [formControl]="consignmentNoteFilterForm.controls['consignmentNoteStatus']"
                  placeholder="Status" name="consignmentNoteStatus">
        <mat-option>NONE</mat-option>
        <mat-option [value]="'NOT_PROCESSED'">NOT_PROCESSED</mat-option>
        <mat-option [value]="'PROCESSED'">PROCESSED</mat-option>
        <mat-option [value]="'BEING_PROCESSED'">BEING_PROCESSED</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput [formControl]="consignmentNoteFilterForm.controls['from']"
             [matDatepicker]="pickerFrom" placeholder="From">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput [formControl]="consignmentNoteFilterForm.controls['to']"
             [matDatepicker]="pickerTo" placeholder="To">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
  </form>

  <div style="display: flex; justify-content: center; align-items: center">
    <table mat-table [dataSource]="consignmentNotes ? consignmentNotes.content : null"
           [ngClass]="{'hoverable-table': disabled}">

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Number</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.number}}</td>
      </ng-container>

      <ng-container matColumnDef="company name">
        <th mat-header-cell *matHeaderCellDef>Company name</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.company.name}}</td>
      </ng-container>

      <ng-container matColumnDef="registration date">
        <th mat-header-cell *matHeaderCellDef>Registration date</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.registration}}</td>
      </ng-container>

      <ng-container matColumnDef="consignment Note Type">
        <th mat-header-cell *matHeaderCellDef>Consignment Note Type</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.consignmentNoteType}}</td>
      </ng-container>

      <ng-container matColumnDef="consignment Note Status">
        <th mat-header-cell *matHeaderCellDef>Consignment Note Status</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.consignmentNoteStatus}}</td>
      </ng-container>

      <ng-container matColumnDef="consignment Process">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let consignmentNote">
          <button mat-button>Process</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked(row)"></tr>
    </table>
  </div>

  <div *ngIf="consignmentNotes && consignmentNotes.content.length === 0"
       style="display: flex; justify-content: center; align-items: center">
    <p>Not found</p>
  </div>

  <div *ngIf="loading$ | async"
       style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-paginator [length]="consignmentNotes ? consignmentNotes.totalElements : 0"
                 [pageIndex]="pageable.page"
                 [pageSize]="pageable.size"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)">
  </mat-paginator>

</div>
