<div>
  <div>
    <div class="form-group row">
      <label for="consignmentNoteType" class="col-sm-3 col-form-label">Consignment note type</label>
      <div class="col-sm-5">
        <select id="consignmentNoteType" class="form-control" [(ngModel)]="consignmentNoteFilter.consignmentNoteType"
                (change)="getConsignmentNotes()">
          <option value="IN">IN</option>
          <option value="OUT">OUT</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="consignmentNoteStatus" class="col-sm-3 col-form-label">Consignment note type</label>
      <div class="col-sm-5">
        <select id="consignmentNoteStatus" class="form-control"
                [(ngModel)]="consignmentNoteFilter.consignmentNoteStatus"
                (change)="getConsignmentNotes()">
          <option value="NOT_PROCESSED">NOT_PROCESSED</option>
          <option value="PROCESSED">PROCESSED</option>
          <option value="BEING_PROCESSED">BEING_PROCESSED</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="from" class="col-sm-3 col-form-label">From</label>
      <div class="col-sm-5">
        <input type="date"
               id="from"
               class="form-control"
               [(ngModel)]="consignmentNoteFilter.from"
               (change)="getConsignmentNotes()">
      </div>
    </div>

    <div class="form-group row">
      <label for="to" class="col-sm-3 col-form-label">To</label>
      <div class="col-sm-5">
        <input type="date"
               id="to"
               class="form-control"
               [(ngModel)]="consignmentNoteFilter.to"
               (change)="getConsignmentNotes()">
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center; align-items: center">
    <table mat-table [dataSource]="consignmentNotes ? consignmentNotes.content : null" class="hoverable-table">

      <ng-container matColumnDef="Number">
        <th mat-header-cell *matHeaderCellDef>Number</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.number}}</td>
      </ng-container>

      <ng-container matColumnDef="Company name">
        <th mat-header-cell *matHeaderCellDef>Company name</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.company.name}}</td>
      </ng-container>

      <ng-container matColumnDef="Registration date">
        <th mat-header-cell *matHeaderCellDef>Registration date</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.registration}}</td>
      </ng-container>

      <ng-container matColumnDef="Consignment Note Type">
        <th mat-header-cell *matHeaderCellDef>Consignment Note Type</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.consignmentNoteType}}</td>
      </ng-container>

      <ng-container matColumnDef="Consignment Note Status">
        <th mat-header-cell *matHeaderCellDef>Consignment Note Status</th>
        <td mat-cell *matCellDef="let consignmentNote">{{consignmentNote.consignmentNoteStatus}}</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked(row)"></tr>
    </table>
  </div>

  <div *ngIf="consignmentNotes.totalElements"
       style="display: flex; justify-content: center; align-items: center">
    <p>Not found</p>
  </div>

  <div *ngIf="loading$ | async"
       style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-paginator [length]="consignmentNotes ? consignmentNotes.totalElements : 0"
                 [pageIndex]="pageable.page"
                 [pageSize]="pageable.size"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)">
  </mat-paginator>

</div>
