<mat-vertical-stepper (selectionChange)="selectionChange($event)" linear #stepper *ngIf="warehouses">
  <mat-step [stepControl]="warehouseControl">
    <ng-template matStepLabel>Choose warehouse</ng-template>
    <mat-form-field>
      <mat-select [formControl]="warehouseControl"
                  placeholder="Warehouse"
                  name="sizeType"
                  (selectionChange)="selectionChange()">
        <mat-option *ngFor="let i = index ;let warehouse of warehouses" [value]="i">
          {{warehouse.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="distributeGoodsForm.controls['storageTime']">
    <ng-template matStepLabel>Specify the storage period</ng-template>
    <mat-form-field>
      <input matInput type="number" placeholder="Storage period"
             [formControl]="distributeGoodsForm.controls['storageTime']"
             required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step *ngIf="commodityLot">
    <ng-template matStepLabel>Distribute goods</ng-template>
    <div cdkDropListGroup *ngIf="commodityLot && placementDropListArray">
      <div class="example-container" [formGroup]="goodsCount">
        <!--<div class="example-container">-->
        <h2>To do</h2>
        <!--[cdkDropListData]="commodityLot.commodityLotGoodsList"-->
        <div
          cdkDropList
          [cdkDropListData]="commodityLot.commodityLotGoodsList"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          formArrayName="arr">
          <div class="example-box" *ngFor="let item of commodityLot.commodityLotGoodsList; let i = index" cdkDrag>
            {{item.goods.name}},{{i}}
            <i>{{item.amount}}</i>
            <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div mat-menu-item [disabled]="true"
                   style="display: flex">
                <span style="font-size: 8px">
                <mat-form-field>
                  <input matInput style="width: 40%" type="number" formControlName="{{i}}"/>
                </mat-form-field>
                <button mat-button (click)="divide(item, i); menuTrigger.closeMenu()">Divide</button>
                </span>
              </div>
            </mat-menu>
          </div>
        </div>
      </div>

      <div class="example-container">
        <ng-container *ngFor="let placementDropList of placementDropListArray">
          <h2>{{placementDropList.size}}, {{placementDropList.placementType}}</h2>
          <div
            cdkDropList
            [cdkDropListData]="placementDropList.arr"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of placementDropList.arr" cdkDrag>
              {{item.goods.name}},{{item.amount}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <button mat-button (click)="saveUpdatedWarehouse()">Save</button>
  </mat-step>
</mat-vertical-stepper>

<div *ngIf="loading$ | async"
     style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
