<form [formGroup]="userForm">

  <label>First name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>Last name:
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <label>Patronymic:
    <input type="text" formControlName="patronymic">
  </label>
  <br>
  <label>Country
    <input type="text" formControlName="country">
  </label>
  <br>
  <label>Region
    <input type="text" formControlName="region">
  </label>
  <br>
  <label>Locality
    <input type="text" formControlName="locality">
  </label>
  <br>
  <label>Birth date
    <input type="date" formControlName="birthDate">
  </label>
  <br>
  <label>Email
    <input type="email" formControlName="email">
  </label>
</form>
<br>
<button (click)="goBack()">Back</button>
<button (click)="save()">Save</button>
