<mat-vertical-stepper linear #stepper [formGroup]="consignmentNoteForm">

  <mat-step [stepControl]="consignmentNoteForm.controls['number']">
    <ng-template matStepLabel>Fill number consignment note</ng-template>
    <mat-form-field>
      <input matInput placeholder="CN Number" [formControl]="consignmentNoteForm.controls['number']" required>
      <mat-error *ngIf="consignmentNoteForm.controls['number'].hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="consignmentNoteForm.controls['number'].hasError('maxlength')">Must be shorter than 15 characters</mat-error>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['shipment']" *ngIf="inputConsignmentNoteType !== cnType.OUT">
    <ng-template matStepLabel>Shipment</ng-template>
    <mat-form-field appearance="outline">
      <input matInput [formControl]="consignmentNoteForm.controls['shipment']"
             [matDatepicker]="pickerTo"
             [max]="today"
             placeholder="Shipment"
             required>
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['counterparty']">
    <ng-template matStepLabel>Add counterparty</ng-template>
    <table *ngIf="counterparty" formArrayName="counterparty" class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Name</th>
        <th class="mat-header-cell">Tax number</th>
        <th class="mat-header-cell">Type</th>
        <th class="mat-header-cell"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="mat-cell">{{counterparty.name}}</td>
        <td class="mat-cell">{{counterparty.taxNumber}}</td>
        <td class="mat-cell">{{counterparty.counterpartyType}}</td>
        <td class="mat-cell">
          <button mat-button (click)="deleteCounterparty()">&#10006;</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="!counterparty" mat-button (click)="counterpartyModal()">Add</button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['carrier']">
    <ng-template matStepLabel>Add carrier</ng-template>
    <table *ngIf="carrier" class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Name</th>
        <th class="mat-header-cell">Tax number</th>
        <th class="mat-header-cell">Type</th>
        <th class="mat-header-cell"></th>
      </tr>
      <tbody>
      <tr>
        <td class="mat-cell">{{carrier.name}}</td>
        <td class="mat-cell">{{carrier.taxNumber}}</td>
        <td class="mat-cell">{{carrier.carrierType}}</td>
        <td class="mat-cell">
          <button mat-button (click)="deleteCarrier()">&#10006;</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="!carrier" mat-button (click)="carrierModal()">Add</button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step *ngIf="carrierType == 'AUTOMOBILE'" [stepControl]="consignmentNoteForm.controls['driver']">
    <ng-template matStepLabel>Add driver</ng-template>
    <table *ngIf="driver" class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Info</th>
        <th class="mat-header-cell"></th>
      </tr>
      <tbody>
      <tr>
        <td class="mat-cell">{{driver.info}}</td>
        <td class="mat-cell">
          <button mat-button (click)="deleteDriver()">&#10006;</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="!driver" mat-button (click)="driverModal()">Add</button>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['vehicleNumber']">
    <ng-template matStepLabel>Vehicle number</ng-template>
    <mat-form-field>
      <input matInput placeholder="Vehicle number" [formControl]="consignmentNoteForm.controls['vehicleNumber']"
             required>
      <mat-error *ngIf="consignmentNoteForm.controls['vehicleNumber'].hasError('vehicleNumber')">Must be shorter than 15 characters</mat-error>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['consignmentNoteGoodsList']">
    <ng-template matStepLabel>Add goods</ng-template>
    <div *ngIf="!inputWarehouseId">
      <table *ngIf="goodsDtoList.length > 0" formArrayName="consignmentNoteGoodsList" class="mat-table">
        <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell">Name</th>
          <th class="mat-header-cell">Placement type</th>
          <th class="mat-header-cell">Measurement Unit</th>
          <th class="mat-header-cell">Cost</th>
          <th class="mat-header-cell">Amount</th>
          <th class="mat-header-cell"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let goods of goodsDtoList; let i = index">
          <td class="mat-cell">{{goods.name}}</td>
          <td class="mat-cell">{{goods.placementType}}</td>
          <td class="mat-cell">{{goods.measurementUnit}}</td>
          <td class="mat-cell">{{goods.cost}}</td>
          <ng-container formGroupName="{{i}}">
            <input type="hidden" formControlName="goods">
            <td class="mat-cell">
              <mat-form-field>
                <input matInput placeholder="Amount" type="number" formControlName="amount" required>
              </mat-form-field>
            </td>
          </ng-container>
          <td class="mat-cell">
            <button mat-button (click)="deleteGood(i)">&#10006;</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button mat-button (click)="goodsModal()">Add goods</button>
    </div>
    <div *ngIf="inputWarehouseId">
      <app-collect-goods-warehouse [warehouseId]="inputWarehouseId"
                                   (dataChanged)="deleteGoodsOutCN()"
                                   (goodsChanged)="addGoodsOutCN($event)"
                                   (warehouseChanged)="setWarehouseOutCN($event)">
      </app-collect-goods-warehouse>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['consignmentNoteType']"
            *ngIf="inputConsignmentNoteType !== cnType.OUT">
    <ng-template matStepLabel>Сonsignment note type</ng-template>
    <mat-form-field>
      <mat-select [formControl]="consignmentNoteForm.controls['consignmentNoteType']"
                  placeholder="Type" name="consignmentNoteType" [required]="true">
        <mat-option [value]="">NONE</mat-option>
        <mat-option *ngFor="let type of getTypes()" [value]="type">
          {{cnType[type]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="consignmentNoteForm.controls['description']">
    <ng-template matStepLabel>Description</ng-template>
    <mat-form-field>
      <textarea matInput placeholder="Leave a comment"
                [formControl]="consignmentNoteForm.controls['description']"></textarea>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit(); stepper.reset()">Submit</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
