.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 1em;
}

.input-border {
  border: 1px solid #ccc !important
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.button-blue-grey {
  color: #fff !important;
  background-color: #607d8b !important
}

.button-cyan {
  color: #000 !important;
  background-color: #00bcd4 !important
}

.select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc
}

.button-spacer {
  margin-bottom: 10px;
}
