<form [formGroup]="commodityLotFilterForm">

  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="commodityLotFilterForm.controls['commodityLotType']"
                placeholder="Type" name="commodityLotType">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let type of getCommodityLotTypes()" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="disabled" appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="commodityLotFilterForm.controls['commodityLotStatus']"
                placeholder="Status" name="commodityLotType">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let type of getCommodityLotStatuses()" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>From</mat-label>
    <input matInput [formControl]="commodityLotFilterForm.controls['from']"
           [matDatepicker]="pickerFrom" placeholder="From">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>To</mat-label>
    <input matInput [formControl]="commodityLotFilterForm.controls['to']"
           [matDatepicker]="pickerTo" placeholder="To">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Counterparty Name</mat-label>
    <input [formControl]="commodityLotFilterForm.controls['counterpartyName']" matInput placeholder="Counterparty Name">
  </mat-form-field>
</form>

<div style="display: flex; justify-content: center; align-items: center">
  <table mat-table [dataSource]="page ? page.content : null" [ngClass]="{'hoverable-table': disabled}">

    <ng-container matColumnDef="creation">
      <th mat-header-cell *matHeaderCellDef>Creation</th>
      <td mat-cell *matCellDef="let commodityLot">{{commodityLot.creation}}</td>
    </ng-container>

    <ng-container matColumnDef="counterpartyName">
      <th mat-header-cell *matHeaderCellDef>Counterparty Name</th>
      <td mat-cell *matCellDef="let commodityLot">{{commodityLot.counterpartyName}}</td>
    </ng-container>

    <ng-container matColumnDef="commodityLotType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let commodityLot">{{commodityLot.commodityLotType}}</td>
    </ng-container>

    <ng-container matColumnDef="commodityLotStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let commodityLot">{{commodityLot.commodityLotStatus}}</td>
    </ng-container>

    <ng-container matColumnDef="commodityLotProcess">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let commodityLot">
        <button mat-button>Process</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClicked(row)"></tr>
  </table>
</div>

<div *ngIf="page && page.content.length === 0"
     style="display: flex; justify-content: center; align-items: center">
  <p>Not found</p>
</div>

<div *ngIf="loading$ | async"
     style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

<mat-paginator [length]="page ? page.totalElements : 0"
               [pageIndex]="pageable.page"
               [pageSize]="pageable.size"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageChanged($event)">
</mat-paginator>
